#include <vector>

#include <TGraphErrors.h>
#include <TAxis.h>
#include <TCanvas.h>

int xsec_coll()
{
    TCanvas canv;
    std::vector<double> zeroes(100, 0.0);

    // ********************* Start of Data ********************* //
    {{ energy }}
    {{ xsec }}
    {{ xsec_err }}
    // ********************* End of Data ********************* //

    // season2019
    TGraphErrors xsec_vs_energy(energy.size(), energy.data(), xsec.data(), zeroes.data(), xsec_err.data());
    xsec_vs_energy.SetMarkerColor(kRed);
    xsec_vs_energy.SetName("xsec_vs_energy");
    xsec_vs_energy.GetXaxis()->SetTitle("E_{beam}, MeV");
    xsec_vs_energy.GetYaxis()->SetTitle("#sigma^{(vis)}_{e^{+}e^{-} #rightarrow p#bar{p}}, nb");
    xsec_vs_energy.SetTitle("e^{+}e^{-} #rightarrow p#bar{p} collinear events");

    xsec_vs_energy.DrawClone("AP");
    canv.DrawClone();
    return 0;
}
